doctype html
html(lang=locale)
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="x-ua-compatible", content="ie=edge")
      title Tangerine
      meta(name="viewport", content="width=device-width, initial-scale=1")
      block stylesheets
  body(role='document')
    block body
    block scripts
